#userName {
  margin-right: 10px;
}

.reader {
  display: flex;
  justify-content: space-between;
  background-color: #fe9600;
  height: 45px;
}

.navBar {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.linksNavBar {
  /* background-color: #f44336; */
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.linksNavBarHover {
  background-color: #fe9600;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
